.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  text-align: center;
}

.nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.navItem {
  padding: 8px 30px;
}
